<div style="text-align:center">
  <h1>
    Welcome to d3.js!
  </h1>

  <div style="padding:20px">
    <b3-chart collapsible-body 
      [interval]="interval$|async" 
      [xDomain]="xAxesDomain$|async" 
      [xDomainType]="xDomainType$|async"
      [data$]="data">
    </b3-chart>
  </div>


  <div style="margin-top: 30px; display:inline-flex;">

    <div style="padding:0.5rem">
      <input name="xTDomain" type="radio" value="time" [ngModel]="xDomainType$|async" (ngModelChange)="updateXDomain($event)" />
      <label for="xTDomain">Set time domain</label>
    </div>

    <div style="padding:0.5rem">
      <input name="xNDomain" type="radio" value="number" [ngModel]="xDomainType$|async" (ngModelChange)="updateXDomain($event)" />
      <label for="xNDomain">Set number domain</label>
    </div>

    <div style="padding:0.5rem">
      <input name="smooth" type="checkbox" [checked]="smoothStyle" (change)="changeSmoothStyle()" />
      <label for="smooth">Set smooth style</label>
    </div>

    <div style="padding:0.5rem">
      <input name="dataGap" type="checkbox" [ngModel]="showDataGap" (change)="updateShowDataGaps()" />
      <label for="dataGap">Show data gaps</label>
    </div>

    <button (click)="addSeries('line')">Add Line Series</button>
    <button (click)="addSeries('bar')">Add Bar Series</button>
  </div>

  <div style="margin-top: 40px">
    <div *ngFor="let series of data|async">
      <div style="margin-top:1rem; margin-bottom:1rem">
        <span style="margin-right: 0.5rem">{{series.label}}</span>
        <button (click)="removeSeries(series)">Remove Series</button>
        <button (click)="addDatum(series)">Add Datum</button>
        <button (click)="removeDatum(series)">Remove Last Datum</button>
      </div>
    </div>
  </div>
</div>